.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.actions {
    width: 100%;
    margin-bottom: 2rem;
}

.asd {
    background-color: salmon;
    color: #FFF;
}